DATABASE_URL=
DATABASE_URL_UNPOOLED=
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=
ADMIN_EMAIL=logistmate@gmail.com
MASTER_PASSWORD=desklink2026
VITE_ADMIN_EMAIL=logistmate@gmail.com
VITE_MASTER_PASSWORD=desklink2026
GEMINI_API_KEY=
